@model IEnumerable<LogParserMVC.Models.BackupModel>


<h2>Backups</h2>

<input type="button" class="btn btn-info" value="Create Backup" onclick="location.href='@Url.Action("CreateBackup","Home")'" />
<input type="button" class="btn btn-info" value="Clear Tables" onclick="location.href='@Url.Action("ClearTables","Home")'" />
<input type="button" class="btn btn-info" value="Create Backup Details" onclick="location.href='@Url.Action("CreateBackupDetail","Home")'" />


<p>


<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.ActionLink("Restore", "Restore", new { path = item.FilePath })
        </td>
        <td>
            @Html.ActionLink("RestoreDetails", "RestoreDetails", new { path = item.FilePath })
        </td>
    </tr>
    }

</table>
