@model IEnumerable<LogParserMVC.Models.IpDetailModel>

@{
    ViewBag.Title = "IpDetails";
}

<h2>Providers</h2>

<p>
    @Html.ActionLink("Create New", "CreateProvider", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IpNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IspProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHidden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpDetailId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@"" + item.IpNumber, "EditIpDetail", "Home", new { id = item.IpDetailId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IspProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHidden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpDetailId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
