@model IEnumerable<LogParserMVC.Models.LogLineModel>

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<input type="button" class="btn btn-info" value="Scan" onclick="location.href='@Url.Action("Scan","Home")'"/>
<input type="button" class="btn btn-info" value="Create TXT" onclick="location.href='@Url.Action("CreateText","Home")'" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Platform)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IspProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Date, "SelectedByDate", new { date = item.Date })
        </td>
        <td>
            @Html.ActionLink(item.Time, "SelectedByTime", new { time = item.Time })
        </td>
        <td>
            @Html.ActionLink(item.MediaItem, "SelectedByMedia", new { media = item.MediaItem })
        </td>
        <td>
            @Html.ActionLink(item.IpClient, "SelectedByIpNumber", new { ipNumber = item.IpClient})
        </td>
        <td>
            @Html.ActionLink(item.Client, "SelectedByClient", new { client = item.Client })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Platform)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IspProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
    </tr>
}

</table>
